/*!
 * ---------------------------------------------------------------------
 * GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2015-2022 Teclib' and contributors.
 *
 * http://glpi-project.org
 *
 * based on GLPI - Gestionnaire Libre de Parc Informatique
 * Copyright (C) 2003-2014 by the INDEPNET Development Team.
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * GLPI is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * GLPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 */

$logo-light: "../pics/logos/logo-SEGIP-100-white.png" !default;
$logo-light-reduced: "../pics/logos/logo-G-100-white.png" !default;
$logo-dark: "../pics/logos/logo-GLPI-100-black.png" !default;
$logo-dark-reduced: "../pics/logos/logo-G-100-black.png" !default;
$logo-dark-login: "../pics/logos/logo-SEGIP-250-black.png" !default;
$logo-light-login: "../pics/logos/logo-GLPI-250-white.png" !default;
$logo: $logo-light;
$logo_reduced: $logo-light-reduced;
