{#
 # ---------------------------------------------------------------------
 # GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2015-2022 Teclib' and contributors.
 #
 # http://glpi-project.org
 #
 # based on GLPI - Gestionnaire Libre de Parc Informatique
 # Copyright (C) 2003-2014 by the INDEPNET Development Team.
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # GLPI is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 #}

<h2>Configuraciones iniciales realizadas con exito...</h2>

<p>
   Esta es una versión modificada del software original GLPI para uso del Segip bajo licencia GPLv3.
</p>

<hr>
<form action="install.php" method="post" data-submit-once>
   <p>
   <button type="submit" name="submit" class="btn btn-primary">
      {{ __("Continue") }}
      <i class="fas fa-chevron-right ms-1"></i>
   </button>
   </p>

   <input type='hidden' name='install' value='Etape_6'>
   <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
</form>
